<div class="container-fluid">
  <div class="col-10">
      <div class="info">
        <h3>Esses são todos os pets encontrados</h3>
        <p>Se tiver qualquer informação sobre os donos desses animais entre em contato</p>
      </div>
      <div class="container pets-list">
        <% @pets.each do |pet| %>
          <div class="card">
            <%= image_tag check_picture(pet), alt: "pet", class: "card-img-top" %>
            <div class="card-body">
              <div>
                <div class="card-title">
                  Breed: <%= pet.breed %>
                </div>
                <div class="card-text">
                  Size: <%= pet.size %>
                </div>
              </div>
              <div class="btn-group btn-group-toggle">
                <%= link_to 'Show', pet_path(pet), class: "btn btn-secondary btn-sm" %>
                <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-secondary btn-sm" %>
                <%= link_to 'Destroy', pet_path(pet),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <p>Encontrou algum animal perdido? <%= link_to 'Publique aqui', new_pet_path %> </p>

  </div>
</div>
